*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

nav{
   background-color: yellow;
    width: 100%;
    height: 60px;
    background: radial-gradient(transparent,yellow)goldenrod;
}
.enlace{
    position: absolute;
   
    line-height: 60px;
}
.enlace img{
   
    border-radius: 30px;
    line-height: 60px;
    margin-top: 5px;
    margin-left: 10px;

}
.logo{
    height: 50px;
}
nav ul{
    float: right;
    margin-right: 10px;
}
nav ul li{
    display: inline-block;
    line-height: 60px;
    margin-right: 20px;
    
}
nav ul li a{
    font-size: 18px;
    color: black;
    border-radius: 3px;
    padding: 10px;
    
    
}
li a .active, li a:hover{
    background-color: rgb(207, 228, 23);
    transition: .2s;
    color: white;
   
}
.checkbtn{
    font-size: 30px;
    color: black;
    float: right;
    margin-right: 20px;
    line-height: 60px;
    cursor: pointer;
    display: none;
    
}
#check{
    display:none
}
body {margin: 0px;
    margin-top: 0px;
    padding: 0px;
    background-color:rgb(248, 225, 15);
   background-image: url(img/fon.jpg);
       background-size: cover;
   height: calc(100vh-60px);
   background-repeat: no-repeat;
   background-attachment: fixed;
    color: #c69c6d;
    font-size: 18px;
    font-family: arial;
}
body{
    background-image: url(img/fon.jpg) no-repeat; 
    background-size: cover;
     background-color: yellow;
    background-position:center;
    height: calc(100vh-60px);
    
}


@media (max-width:750px){
   
    .checkbtn{
        display: block;
        color: goldenrod;
        
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color:yellow;
        top: 60px;
        display: block;
        text-align: center;
        transition: 1s;
        left: -100%;
        background: radial-gradient(transparent,yellow)goldenrod;
        color: goldenrod;
        text-shadow: 1px 1px 1px  yellow;
       
    }
    nav ul li{
        display: block;
      
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a .active{
        background-color: rgb(207, 228, 23);
        transition: .2s;
        color: white;
    }
    #check:checked ~ ul {
        left: 0;
    }
    
 }
    
    h1 {
        color: goldenrod;
        text-align: center;
        justify-content: center;
        align-content: center;
        margin-top: 50px;
        width: 100%;
        margin-bottom: 40px;
        text-shadow: 1px 1px 1px black;

    }
    main{
        
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: space-between;
        
    }
    div{
        display: inline-block;
        border-radius: 30px;
        
    }

    main div img {
        width: 200px;
        margin-bottom: 30px;
        margin-left: 100px;
   
}
    p {
        padding: 10px;
        border-radius: 20px;
        display: inline-block;
        background-color: blue;
        background: linear-gradient(transparent, yellow)white;
        text-align: justify;
        height: 240px;
        width: 380px;
        color: black;
        text-shadow: 1px 1px 1px white;
        font-size: 18px;
        margin-right: 100px;
        
        
    }
    @media(max-width:750px){
        main div img {
            width: 130px;  
            border: 1px solid yellow;
            border-radius: 200px;
            background-color: black; 
            margin: 0;
            margin-bottom: 10px;  
        
}
main {
    display: block;
    justify-content: center;
    text-align: center;
   
}
p{
    margin: 0;
    font-size: 16px;
    height: 200px;
}
h1 {
    margin-bottom: 5px;
}

body{
    background-image: url(img/fon.jpg) no-repeat; 
    background-size: cover;
    background-position: center center;
    height: calc(100vh-60px);

}
